.body {
  height: 100vh;
  background-image: url('../images/bg-grid.jpg');
  background-position: 0 0;
  background-size: 500px 500px;
  overflow: hidden;
}

.image {
  width: 500px;
  margin-left: 0;
  margin-right: auto;
}

.div-block {
  justify-content: flex-start;
  padding-top: 0;
  padding-left: 0;
  display: flex;
}

.navbar {
  width: 100vw;
  height: 75px;
  background-color: #000;
  border-bottom: 1px solid #555;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 12.5px 50px;
  display: none;
  position: relative;
  left: 0;
  right: 0;
}

.container {
  width: 100%;
  justify-content: space-between;
  margin: auto 0;
  display: flex;
  position: static;
}

.menu-button {
  height: 50px;
  display: block;
}

.image-2 {
  height: 50px;
}

.contents {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
}

.saw {
  width: 500px;
  height: 500px;
  outline-offset: 0px;
  cursor: pointer;
  background-color: #414141;
  background-image: url('../images/head-1.jpg');
  background-position: 0 0;
  background-size: contain;
  border: 3px solid #454545;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  outline: 3px #333;
  transition: transform .3s;
}

.saw:hover {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  transform: scale(1.05);
}

.saw._1 {
  background-image: url('../images/head-1.jpg');
  background-position: 50%;
  background-size: cover;
}

.saw._1:hover {
  background-size: 500px 500px;
  flex: 1;
}

.saw._2 {
  background-image: url('../images/head-2.jpg');
  background-position: 50%;
  background-size: 500px 500px;
  transition: transform .2s;
}

.saw._2:hover {
  background-size: 500px;
}

.heads-active {
  grid-column-gap: 75px;
  grid-row-gap: 75px;
  margin-top: -200px;
  display: flex;
  position: relative;
}

.head-right {
  width: 500px;
  height: 500px;
  outline-offset: 0px;
  background-color: #414141;
  border: 3px solid #454545;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  border-bottom-left-radius: 250px;
  outline: 3px #333;
}

.head0 {
  width: 300px;
  height: 300px;
  outline-offset: 0px;
  background-color: #000;
  border: 2px solid rgba(69, 69, 69, .45);
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  border-bottom-left-radius: 250px;
  outline: 3px #333;
}

.head0.right {
  border-top-left-radius: 250px;
}

.heads-bacground {
  grid-column-gap: 45px;
  grid-row-gap: 45px;
  margin-top: -100px;
  display: flex;
}

.option-left {
  width: 500px;
  height: 500px;
  background-color: #000;
  border: 3px solid #454545;
  border-top-right-radius: 250px;
  border-bottom-right-radius: 250px;
  border-bottom-left-radius: 250px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.option-right {
  width: 500px;
  height: 500px;
  background-color: #000;
  border: 3px solid #454545;
  border-radius: 250px;
  overflow: hidden;
}

.chainsaw {
  width: 500px;
  height: 500px;
  outline-offset: 0px;
  cursor: pointer;
  background-color: #414141;
  background-image: url('../images/head-2.jpg');
  background-position: 0 0;
  background-size: contain;
  border: 3px solid #454545;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  outline: 3px #333;
  transition: transform .3s;
}

.chainsaw:hover {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  transform: scale(1.05);
}

.chainsaw._1 {
  background-image: url('../images/head-1.jpg');
  background-position: 50%;
  background-size: cover;
}

.chainsaw._1:hover {
  background-size: 500px 500px;
  flex: 1;
}

.chainsaw._2 {
  background-image: url('../images/head-2.jpg');
  background-position: 50%;
  background-size: 500px 500px;
  transition: transform .2s;
}

.chainsaw._2:hover {
  background-size: 500px;
}

.title-overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 54%, #00f482);
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 60px;
  display: flex;
}

.headname {
  margin-top: auto;
  font-family: Space Grotesk, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

.title-overlay-mobile {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 54%, #00f482);
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 60px;
  display: none;
}

@media screen and (max-width: 479px) {
  .body {
    height: 100vh;
    background-size: 250px;
  }

  .image {
    width: 250px;
  }

  .saw {
    width: 300px;
    height: 300px;
    background-position: 50%;
    background-size: contain;
  }

  .saw:hover, .saw._1 {
    width: 300px;
    height: 300px;
  }

  .saw._2 {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .saw._2:hover {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .heads-active {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    flex-direction: column;
    margin-top: 0;
  }

  .head0, .head0.right {
    width: 180px;
    height: 180px;
  }

  .heads-bacground {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-direction: column;
    margin-top: 0;
    display: none;
  }

  .option-left, .option-right {
    width: 300px;
    height: 300px;
  }

  .chainsaw {
    width: 300px;
    height: 300px;
    background-position: 50%;
    background-size: cover;
  }

  .chainsaw:hover, .chainsaw._1 {
    width: 300px;
    height: 300px;
  }

  .chainsaw._2 {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .chainsaw._2:hover {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .title-overlay {
    display: none;
  }
}


