.body {
  height: 100vh;
  background-image: url('../images/bg-grid.jpg');
  background-position: 0 0;
  background-size: 500px 500px;
  overflow: hidden;
}

.image {
  width: 500px;
  margin-left: 0;
  margin-right: auto;
}

.div-block {
  justify-content: flex-start;
  padding-top: 0;
  padding-left: 0;
  display: flex;
}

@media screen and (max-width: 479px) {
  .body {
    height: 100vh;
    background-size: 250px;
  }

  .image {
    width: 250px;
  }
}
