.saw {
  width: 100%;
  height: 100%;
  outline-offset: 0px;
  cursor: pointer;
  background-color: #414141;
  background-image: url('../images/head-1.jpg');
  background-position: 0 0;
  background-size: contain;
  border: 3px solid #454545;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  outline: 3px #333;
  transition: transform .3s;
}

.saw:hover {
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  transform: scale(1.05);
}
